/* 細かい点はまだ検討していません。*/
h1 { color:black; }

body { background-color:#eff3f8; }

div {border:0.5px solid ; border-color:#06cd21 ;   margin:2 auto; padding:2px;} 
#div1 {background-color:#d5f4d9; width:95%;}
#div2 {background-color:#c4edc9; width:95%;}
#div3 {background-color:#c4edc9; width:95%;}
#div4 {background-color:#c4edc9; width:95%;}
#div5 {background-color:#c4edc9; width:95%;}
#div6 {background-color:#c4edc9; width:95%;}


main {float:left; width:95%; background-color:#f5f5f5; }
footer { clear:both; width:95%; background-color: cadetblue; }
/*
*/
